:root {
    --color-valid : #518048;
    --color-text : #BD484A;
    --color-back : #ebf2fa;
    --color-icon : #2a9d8f;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --color-blue: rgba(72,145, 189, 0.74); /*#427aa1;*/

    --font: 'Pixelify Sans', cursive;
}

/* ---- BASE ---- */

html {
    margin:0;
    background-color: #FFF;
    height: 100%;
}

a {
    text-decoration: none;
}

body{
    margin: 0;
    display: grid;
    grid-template-rows: 2fr 17fr 1fr;
    height: 100%;
}

p{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /*from 200 to 800*/
    font-style: normal;
}

header {
    padding: 0;
    background-color: var(--color-back);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-text);
}

header * {
    padding: 12px;
    margin: 0;
    text-decoration: none;
    color: var(--color-text);
    font-family: 'Pixelify Sans', cursive;
    text-align: left;
    line-height: 85%;
}

#header_container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head_right {
    max-width: 50%;
}

header h1 {
    font-size: 4em;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    letter-spacing: 2px;
    &::first-letter{
        color: #fff;
    }
}

#t2::first-letter {
    color: var(--color-blue);
}

header h2 {
    font-size: 1.5em;
}

header img {
    width: 5%;
    filter: invert(30%) sepia(66%) saturate(1403%) hue-rotate(325deg) brightness(94%) contrast(75%);

    &:hover {
        filter: invert(30%) sepia(36%) saturate(1003%) hue-rotate(325deg) brightness(94%) contrast(85%);
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--color-text);
    background-color: var(--color-back);
    padding: 0 12px;
}

footer p {
    text-align: right;
    padding-right: 12px;
}

footer a {
    align-items: center;
}

#trophy {
    width: 8%;
}

/* ---- MAIN ----*/
.center_cont {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_cont {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left_cont {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_cont {
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.vertical_cent {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.beige {
    background-color: var(--color-back);
}

.cadre {
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
}

main {
    font-family: 'Pixelify Sans', cursive;
    color: var(--color-text);
}

main h1 {
    font-size: 4em;
    margin: 20px;
}

main h2 {
    color: var(--color-text);
    font-size: 1em;
}

p {
    color: var(--color-text);
}

/* --- Enigmes --- */
#enigmes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 80%;
}

@media only screen and (orientation: landscape) {
    #enigmes{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 10px;
        width: auto;
        height: auto;
    }
}

.enigme {
    width: auto;
    min-width: 120px;
    margin: 12px;
    display: grid;
    grid-template-rows: 1fr;
}

#num_quest{
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
@media only screen and (orientation: landscape) {
    #num_quest{
        width: 120px;
        height: 120px;
        font-size: 1em;
    }
}

.valid a{
    color: var(--color-valid);
    border-color: var(--color-valid);
    background-color: var(--color-back);
    &:hover {
        color: var(--color-back);
        border-color: var(--color-back);
        background-color: var(--color-valid);
    }
}

.unvalid a{
    color: var(--color-text);
    border-color: var(--color-text);
    background-color: var(--color-back);
    &:hover {
        color: var(--color-back);
        border-color: var(--color-back);
        background-color: var(--color-text);
    }
}

/* --- Detail Enigme ---*/
#detail{
    display: grid;
    grid-template-areas:
    "im im"
    "im im"
    "qu qu"
    "qu qu";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    width: 80%;
    aspect-ratio: 1/2;
    justify-items: center;
    align-items: center;
    background-color: var(--color-back);
    box-shadow: .3rem .3rem .6rem var(--greyLight-2);
    margin: 12px;
    padding: 0;
}

@media only screen and (orientation: landscape) {
    #detail {
        grid-template-areas:
        "im im qu qu"
        "im im qu qu";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        width: 1024px;
        aspect-ratio: 2/1;
    }
}

.media {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 0;
    grid-area: im;
    position: relative;
    background-color: #FFF;
}

#backg-media {
    max-width: 100%;
    max-height: 100%;
    font-size: 12em;
    font-weight: normal;
    overflow: hidden;
    text-align: justify;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    &::first-letter{
        color: #000;
    }
}

@media only screen and (orientation: landscape) {
    #backg-media {
        font-size: 9em;
    }
}

.bg_unvalid {
    color: var(--color-text);
}
.bg_valid {
    color: var(--color-valid);
}

.blurbox {
    width: 100%;
    aspect-ratio: 1/1;
    padding:0;
    backdrop-filter: blur(10px);
}

.blurbox img {
    width: 80%;
    border: 6px solid var(--color-text);
}

#detail .question {
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    font-size: 2em;
    grid-area: qu;
    margin: 0;
    padding: 16px;
    text-align: justify;
    position: relative;
}

.question h2 {
    text-decoration: underline;
    font-size: 2.5em;
}

@media only screen and (orientation: landscape) {
    .question h2 {
        font-size: 1em;
    }
}

#question_dl {
    width: 100%;
    height: calc(100% - 96px);
    font-size: 1.5em;
}

@media only screen and (orientation: landscape) {
    #question_dl {
        font-size: 0.8em;
        height: auto;
    }
}

#question_dl dt {
    max-height: 200px;
    overflow: auto;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /*from 200 to 800*/
    font-style: normal;
}

#form_rep {
    margin: 0;
    padding-left: 0;
    width: calc(100%);
    height: calc(100% /2);
    justify-content: space-between;
}

@media only screen and (orientation: landscape) {
    #form_rep {
        height: auto;
        min-height: 100px;
    }
}

#id_reponse{
    width: calc(100%);
    text-align: left;
    color: #000;
    border-radius: 4px;
    font-size:0.8em;
}

#val_button {
    font-family: var(--font);
    font-size: 1em;
    width: 200px;
    aspect-ratio: 56/21;
    border-radius: 8px;
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
    color: var(--color-back);
}

@media only screen and (orientation: landscape) {
    #val_button {
        font-size: 0.8em;
        width: 100px;
        border-radius: 4px;

        &:hover {
            box-shadow: 0 0 0 2px var(--color-back), 0 0 0 3px var(--color-text);
        }
    }
}

#result_img {
    width: 40px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: calc(100% - 52px);
    padding-top: 12px;
}

/* --- Compte ---*/
#t_compte {
    font-size: var(--font-size-p);
    color: var(--color-text);
    width: 100%;
}

#t_compte p {
    margin-bottom: 2px;
}

#id_ident{
    pointer-events: none;
    cursor: default;
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

#deco {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8%;
    color: var(--color-text);
    border-color: var(--color-text);
    &:hover {
        color: var(--color-back);
        border-color: var(--color-back);
        background-color: var(--color-text);
    }
}

/* --- Stats --- */
#stats {
    display: grid;
    grid-template-areas:
    "d1" "d2";
    grid-gap: 50px;
    padding: 10px;
    width: 1024px;
    aspect-ratio: 2/1;
    align-items: center;
    margin: 12px;
}

.data {
    box-shadow: .3rem .3rem .6rem var(--greyLight-2);
    border-radius: 20px;
    height: calc(100% - 20px);
}

.data_titre {
    color: var(--color-blue);
    font-size: 2em;
}

.data_cont {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 1em;
    font-size: 1.6em;
    text-align: center;
}