{% load static %}

<html>

<head>
    {% if enigme %}
    	<title>{{enigme.nom}}</title>
    {% else %}
    	<title>Vous êtes la réponse</title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap"
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'enigmes/styles.css' %}" />
</head>

<body>
    <header id="header_container">
        <a href="/"><h1 id="t1">Escape</h1><h1 id="t2"> Saintonge...</h1></a>
        {% if user.is_authenticated %}
        <div id="head_right" class="right_cont">
            <a href="{% url "compte" %}"><h2> Bonjour, {{user}}</h2></a>
        {% else %}
        <div id="head_right" class="right_cont">
            <a href="{% url "connexion"%}"><h2>Se connecter</h2></a>
        {% endif %}
            <img src="{% static 'enigmes/images/'%}utilisateur.png" alt="user icon">
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <a href="{% url "classement" %}" class="left_cont">
            <img id="trophy" src="{% static 'enigmes/images/'%}trophy.png" alt="golden trophy">
            <p id="classement">Classement</p>
        </a>
        <p>&copy; Lycée Sainte Famille Saintonge</p>
    </footer>
</body>
</html>
