{% extends 'enigmes/base.html' %}
{% block content %}
{% load static %}
<main class="vertical_cent">
    {% if creation %}
    <h1>Creer mon compte</h1>
    <form class="vertical_cent" action="creation" method="post">
    {% else %}
    <h1>Mon compte</h1>
    <form class="vertical_cent" action="mon_compte" method="post">
    {% endif %}
        {% csrf_token %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <table id="t_compte">
            {{form.as_table}}
        </table>
        <br>
    {% if creation %}
        <input type="submit" value="S'inscrire"/>
    </form>
    {% else %}
        <input type="submit" value="Mettre à jour"/>
    </form>
    <a href="{% url "deconnexion"%}">Se déconnecter</a>
    {% endif %}
</main>
{% endblock %}