<!--Enigmes-->

{% extends 'enigmes/base.html' %}
{% block content %}
<main class="center_cont">
    <section id='enigmes'>
        {% csrf_token %}
        {%for enigme in enigmes%}
            
            <div class="enigme
                {%if enigme.validee%}valid
                {%else%}unvalid
                {%endif%}
                ">
                <a id="num_quest" 
                        {% if enigme.nom == 'Final' %} class="gold" 
                        {% else %} href="{% url 'enigme' request.session.theme enigme.numero %}"
                        {% endif %}
                title="{{enigme.nom}}">
                    <h1>{{enigme.numero}}</h1>
                </a>
            </div>
        {%endfor%}
    </section>
</main>
{% endblock %}